USE [master]
GO
/****** Object:  Database [APICase]    Script Date: 31/05/2019 10:41:50 ******/
CREATE DATABASE [APICase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'APICase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\APICase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'APICase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\APICase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [APICase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [APICase]
GO
USE [APICase]
GO
/****** Object:  Table [dbo].[Caminhao]    Script Date: 31/05/2019 10:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Caminhao](
	[codigo] [int] NOT NULL,
	[descricao] [varchar](80) NOT NULL,
 CONSTRAINT [PK_Caminhao] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Caminhoneiro]    Script Date: 31/05/2019 10:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Caminhoneiro](
	[idCaminhoneiro] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](150) NOT NULL,
	[idade] [int] NOT NULL,
	[sexo] [varchar](1) NOT NULL,
	[possuiVeiculo] [varchar](1) NOT NULL,
	[tipoCNH] [varchar](2) NOT NULL,
	[carregado] [varchar](1) NOT NULL,
	[caminhao] [int] NOT NULL,
	[dataChegada] [date] NOT NULL,
	[origem] [varchar](300) NULL,
	[destino] [varchar](300) NULL,
 CONSTRAINT [PK_Caminhoneiro] PRIMARY KEY CLUSTERED 
(
	[idCaminhoneiro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Caminhao] ([codigo], [descricao]) VALUES (1, N'Caminhão 3/4')
INSERT [dbo].[Caminhao] ([codigo], [descricao]) VALUES (2, N'Caminhão Toco')
INSERT [dbo].[Caminhao] ([codigo], [descricao]) VALUES (3, N'Caminhão Truck')
ALTER TABLE [dbo].[Caminhoneiro]  WITH CHECK ADD  CONSTRAINT [FK_Caminhoneiro_Caminhao] FOREIGN KEY([caminhao])
REFERENCES [dbo].[Caminhao] ([codigo])
GO
ALTER TABLE [dbo].[Caminhoneiro] CHECK CONSTRAINT [FK_Caminhoneiro_Caminhao]
GO
USE [master]
GO
